resources/logs/*
*_info.txt
*.pdf
*~
*#
octave-workspace
\**\*
__pycache__
*.log
*.res
.gradle*
*logs*
*build*
*dist*
*.ipynb_checkpoints*
*.png
*.pk
*.jpg
*.jpeg
description.xml
calibration_data*
*.egg-info
